page-user-login {
    .flex-div{
        // display: flex;
        // align-items: center;
        // height: 100%;
        .input-form{
            max-width: 450px;
            margin: 0 auto;
            width: 100%;
            padding-top:80px !important;
            padding: 0 16px;
            .form-list{
                margin: 20% 0 25%;
                .forgot-text{
                    margin: 4% 0;
                    text-align: left;
                    margin: 8% 0 4% auto;
                    color: color($colors, primary);
                    font-weight: 500;
                    letter-spacing: 1px;
                   
                }
            }
            h3{
                color: color($colors, primary);
                letter-spacing: 1px;
                font-weight: bold;
                font-family: sans-serif;
            }
            .SubHeading{ 
                color: color($colors, primary);
                font-size: 12px;
                letter-spacing: 0.3px;
                margin-top: 0px;
            }
        }
        .passwordIcon{
            font-size:2rem !important;
            position: relative !important;
            top: 22px !important;
            margin: 0 auto !important;
         }
    }
    
    ion-footer {
        font-family: sans-serif;
        &.footer-md::before {
            background-image: none;
            
        }
        .footer-main-div{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            padding: 0 25px 10px 25px;
            letter-spacing: 0.4px;
            .item-one{
                display:flex;flex:2
            }
            .item-tw0{
                display:flex;flex:1;
                .signup-text{
                    //text-align: right;
                    text-decoration: underline !important;
                    letter-spacing: 0.5px;
                }
            }
        }

    }
   
}
