<ion-content padding class="content-background">
  <div class="flex-div">
    <div class=input-form padding>
      <h3>Login</h3>
      <ion-label class ="SubHeading">Apartment Owner or Renter Login</ion-label>
      <ion-list no-lines no-padding no-margins class="form-list">
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Email or Reg.Number</ion-label>
          <ion-input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="emailORphone" placeholder="Enter email or phone" ></ion-input>
        </ion-item>
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Password</ion-label>
          <ion-input [type]="passwordType"  clearOnEdit="false" [ngModelOptions]="{standalone: true}" [(ngModel)]="password" placeholder="Enter Password" ></ion-input>  
          <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
        <div class="forgot-text">Forgot Password?Reset</div>
      </ion-list>
      <button ion-button full  class="submit-button" color="secondary" (click)="signin()">SIGN IN</button>
    </div>
  </div>
</ion-content>
<ion-footer class="footer">
    <div class="footer-main-div">
      <div class="item-one">
        <ion-label>Don't have an account?</ion-label>
      </div>
      <div class="item-two">
        <ion-label style="text-decoration: underline !important;" color ="secondary" class="signup-text" (click)="navCtrl.push('UserRegistrationPage')">Signup</ion-label>
      </div>
    </div>
  </ion-footer>


   <!-- <ion-icon class="ios-eye-off"  (click)="passwordToggle('show')" name="ios-eye-outline" item-right></ion-icon> -->