page-user-otp-verification {
    .global-background{
        background: color($colors, secondary); 
        .custom-otp-div{
            display:flex;flex-direction:column;height: 100%;
            .otp-sub-one{
                display: flex;justify-content: center;flex:1;flex-direction: column;
                .otp-main{
                    // background: white;
                    background:color($colors, secondary);
                    text-align: center;
                    padding: 15px 15px 0px 15px;
                    border-radius: 35px;
                    font-size: 16px;
                    letter-spacing: 0.6px;
                    font-weight: 500;
                    .class-verification{
                        // font-size: 20px;
                        font-size: 24px;
                        padding-bottom: 10px;
                        font-weight: 600;
                        color: color($colors, pureWhite);
                        letter-spacing: 1px;
                    }
                    .class-description{
                        // padding: 0px 17px 10px 17px;
                        color:color($colors, colorBackground); 
                        font-size: 12px
                    }
                    .class-number{
                        color:color($colors,primary)
                    }

                    .sub-five{font-size: 12px; font-weight: 500; letter-spacing: 1.2px;padding: 4vw 5vw;margin-top:40px;
                        .input-fields{
                            display: flex;
                            width: 80%;
                            margin: 0 auto;
                            .inputfields{
                                width: 100%;
                                margin: 5px;
                                background: transparent;
                                border-radius: 0;
                                color: color($colors, light);
                                background:color($colors, darkGreen);
                                .item-inner {
                                    padding-right: 0;
                                    .text-input{
                                        margin: 0;
                                        padding: 0;
                                        width: 100%;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
            .otp-sub-two{
                display: flex;justify-content: flex-start;flex-direction: column;flex:0.8;width: 100%;
              
                .signin-div{
                    text-align: center;
                    letter-spacing: 1px;
                    font-size: 14px;
                    margin: 25px 0px 10px 0px;
                    .bold-class{
                        // color:color($colors, primary);
                        color: color($colors, pureWhite);
                    }
                }
            }
        }
    }
}
