<!-- <ion-header>
  <ion-navbar>
    <ion-title>OTP Verification</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="global-background">

  <div class="custom-otp-div">
    <div class="otp-sub-one">

      <div class="otp-main">
        <div class="class-verification">Verification code</div>
        <div class="class-description">Please type verification code sent to your email id</div>
        <!-- <div class="class-number">{{cs.registrationDetails.user_phone}}</div> -->


        <div class="sub-five">
          <form >
            <div class=input-fields>
              <ion-item class="inputfields" no-lines>
                <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input1" placeholder="" maxlength="1" #a (keyup)="moveFocus(b, $event, a)"></ion-input>
              </ion-item>
              <ion-item class="inputfields" no-lines>
                <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input2" placeholder="" maxlength="1" #b (keyup)="moveFocus(c, $event, a)"></ion-input>
              </ion-item>
              <ion-item class="inputfields" no-lines>
                <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input3" placeholder="" maxlength="1" #c (keyup)="moveFocus(d, $event, b)"></ion-input>
              </ion-item>
              <ion-item class="inputfields" no-lines>
                <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input4" placeholder="" maxlength="1" #d (keyup)="moveFocus(d, $event, c)"></ion-input>
              </ion-item>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="otp-sub-two">
      <div class="button-div">
        <button ion-button block class="custom-btn" (click)="submit()">VERIFY</button>
      </div>
      <!-- <div class="signin-div">
        <b class="bold-class" (click)="resendOtp()">Resend CODE</b>
      </div> -->
    </div>

  </div>
</ion-content>
