page-user-dashboard {
    ion-header{
        background: color($colors, pureWhite);
    }
    .notification-icon{
        font-size:10px;
        ion-icon{
            color:color($colors, secondary);
        }
    }
    ion-content{
        background:color($colors, contentbg) !important;
        .main-container{
            display:flex;
            flex-direction:column;
            height:80%;
        }
        .dashboard-option-container{
            display:flex;
            flex-direction:row;
            flex:1;
            //background: red;
            justify-content: space-between;
            padding:12px;
            padding-bottom:0px;
           
        }
        .box1{
            flex:1;
            background-color:color($colors, pureWhite);
            margin-right:8px;
            border-radius:6px;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        .box2{
            flex:1;
            background-color:color($colors, pureWhite);
            margin-left:8px;
            border-radius:6px;
            display:flex;
            flex-direction: column;
            justify-content: center; 
        }
        .sub-img-container{
            flex:1;
            padding: 16px 8px 0px 14px;
        }
        .sub-des-text{
            flex:1;
            padding: 0px 31px 0px 14px;
            font-size:12px;
            color:color($colors, primary);
        }
        .img-style{height:38px;width:35px}
        .img-style2{height:34px}
    }
}
