<ion-header no-border>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only (click)="openNotification()" class="notification-icon">
        <ion-icon name="notifications" ></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>My Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="main-container">
    <div class="dashboard-option-container">
      <div class="box1" (click)="updateAccountDetails()">
        <div class="sub-img-container">
          <img src="assets/imgs/update-aacount.png" style="height:40px;width:38px" />
        </div>
        <div class="sub-des-text">Update Acount Details</div>
      </div>
      <div class="box2" >
        <div class="sub-img-container">
          <img src="assets/imgs/my-plan.png" style="height:40px;width:38px" />
        </div>
        <div class="sub-des-text">My Plan</div>
      </div>
    </div>
    <div class="dashboard-option-container">
      <div class="box1" (click)="managePreferences()">
        <div class="sub-img-container">
          <img src="assets/imgs/manage-preferences.png" class="img-style" />
        </div>
        <div class="sub-des-text">Manage Preferences</div>
      </div>
      <div class="box2" (click)="manageVisitor()">
        <div class="sub-img-container">
          <img src="assets/imgs/manage-vistors.png" class="img-style2" />
        </div>
        <div class="sub-des-text">Manage Visitor</div>
      </div>
    </div>
    <div class="dashboard-option-container" style="padding:12px">
      <div class="box1" >
        <div class="sub-img-container">
          <img src="assets/imgs/settings.png" class="img-style" />
        </div>
        <div class="sub-des-text">Setting</div>
      </div>
      <div class="box2" >
        <div class="sub-img-container">
          <img src="assets/imgs/change-password.png" class="img-style" />
        </div>
        <div class="sub-des-text">Change Password</div>
      </div>
    </div>
  </div>
</ion-content>