page-user-registration {
  
    .input-form{
        max-width: 450px;
        margin: 0 auto;
        width: 100%;
        padding: 0 16px;
        .form-list{
            margin: 4% 0 15%;
        }
        .form-select-list{
            margin: 2% 0 15%;
        }
        h3{
            color: color($colors, primary);
            letter-spacing: 1px;
        }
        .SubHeading{ 
            color: color($colors, primary);
            font-size: 12px;
            letter-spacing: 0.3px;
            margin-top: 0px;
            
        }
    }
    .form-list.select-option{
        margin: 0;
        border-bottom: 1.5px solid color($colors, primary);
        color: color($colors, primary);
        letter-spacing: 1px;
        font-weight: 500;
    }
    .footer-main-div{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 0 25px 10px 25px;
        letter-spacing: 0.4px;
        .item-one{
            display:flex;flex:2
        }
        .item-tw0{
            display:flex;
            flex:1;
            .signup-text{
                //text-align: right;
               text-decoration: none !important;
                letter-spacing: 0.5px;
            }
        }
    }
}
