
<ion-header no-border>
  <ion-navbar>
  </ion-navbar>
</ion-header>
<ion-content padding class="content-background">
  <div class=input-form>
    <h3>Signup</h3>
    <ion-label class ="SubHeading">Hello there, Signup to continue</ion-label>
    
      <!-- <ion-item no-lines no-padding no-margins class="form-list select-option">
        <ion-label color="primary" stacked>User Type</ion-label>
        <ion-select [(ngModel)]="userType">
          <ion-option value="0">Select</ion-option>
          <ion-option value="contructor">Owner</ion-option>
          <ion-option value="driver">Renter</ion-option>
        </ion-select>
      </ion-item> -->
      <ion-list no-lines no-padding no-margins class="form-list">
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>First Name</ion-label>
          <ion-input  type="text" (keyup)="checkValidation('fName','checkAtoZ')"  placeholder="Enter first name" [(ngModel)]="registrationfields.fName"></ion-input>
        </ion-item>

        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Last Name</ion-label>
          <ion-input  type="text" (keyup)="checkValidation('lName','checkAtoZ')" placeholder="Enter last name" [(ngModel)]="registrationfields.lName"></ion-input>
        </ion-item>
        <!-- <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Apartment building Name</ion-label>
          <ion-input  type="text"  placeholder="Enter building name"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Address</ion-label>
          <ion-textarea rows="3" placeholder="Enter job description" class="c-textArea"></ion-textarea>
        </ion-item>
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Apartment No</ion-label>
          <ion-input  type="text"  placeholder="Enter apartment no"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>State</ion-label>
          <ion-input  type="text"  placeholder="Enter state"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Country</ion-label>
          <ion-input  type="text"  placeholder="Enter country"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>City</ion-label>
          <ion-input  type="text"  placeholder="Enter city"></ion-input>
        </ion-item> -->
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Email</ion-label>
          <ion-input  type="email"  placeholder="Enter email id" [(ngModel)]="registrationfields.email"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Phone number</ion-label>
          <ion-input  type="tel" (keyup)="checkValidation('number','checkNumbers')"  placeholder="Enter phone number" [(ngModel)]="registrationfields.number"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Password</ion-label>
          <ion-input  type="password"  placeholder="Enter password" [(ngModel)]="registrationfields.password"></ion-input>
        </ion-item>
        <ion-item no-lines no-padding no-margins class="input-item">
          <ion-label color="primary" stacked>Confrim Password</ion-label>
          <ion-input  type="password"  placeholder="Enter confrim password" [(ngModel)]="registrationfields.confirmPassword"></ion-input>
        </ion-item>
      </ion-list>
    <button ion-button full  class="submit-button" color="secondary" (click)="registration()">SIGNUP</button>
  </div>
</ion-content>
<ion-footer class="footer">
    <div class="footer-main-div">
      <div class="item-one">
        <ion-label>Already have an account?</ion-label>
      </div>
      <div class="item-two">
        <ion-label  color ="redLight" class="signup-text" (click)="navCtrl.push('UserLoginPage')">Signin</ion-label>
      </div>
    </div>
  </ion-footer>
  
