page-manage-visitor {
    ion-header{
        background: color($colors, pureWhite);
        .searchbar-container{
                background:color($colors, contentbg) !important;
        .custom-searchbar{    
            padding: 8px 18px 8px 18px !important;
            .searchbar-input-container{      
                .searchbar-input{
                    border-radius: 6px !important;
                    box-shadow: none !important;
                }
            }
        }
    }
    }
   
    ion-content{
        background:color($colors, contentbg) !important;
        .main-container{
            display:flex;
            flex-direction:column;
            height:100%;
            padding:3px 0px 0px 0px !important;
            ion-item-sliding{
                margin-bottom:3px;
            }
            .item-segment1{
                display:flex;flex:1;flex-direction:column;
                h2{
                    font-size: 13px !important;
                    font-weight: bold !important; 
                    color:color($colors, dark) !important;
                }
                h3{
                    font-size: 12px !important;
                    color:color($colors, light-grey) !important;
                }
            }
            .item-segment2{
                display:flex;
                flex:1;
                flex-direction:column;
                text-align:right;
                h3{
                    span{
                        color:color($colors, secondary) !important;
                    }
                    img{
                        margin-right:4px;
                    }
                    font-size: 12px !important;
                    color:color($colors, light-grey) !important;
                }
            }
            .button-md{
                background: color($colors, pureWhite); 
            }
            .list-md ion-item-options{
                border:none !important;
            }
            .list-md .item-block .item-inner {
                border-bottom:none !important
            }
            ion-icon{
                font-size: 22px
            }
        
        }
     
    } 
    .searchbar-search-icon {
        background-image: url("../assets/imgs/search.png")!important;
        }
    .footer{
        background:color($colors, contentbg) !important;
        padding: 0px 12px 0px 12px;
    }
}
