<ion-header no-border>
  <ion-navbar>
    <ion-title>Manage Visitor</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <div class="searchbar-container">
      <ion-searchbar
      [(ngModel)]="requstedName"
      [showCancelButton]="shouldShowCancel"
      (ionInput)="onInput($event)"
       >
      </ion-searchbar>
    </div>

  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-container">
      <ion-list>
        <ion-item-sliding *ngFor="let visitor of visitorList; let i = index" >
          <ion-item>
            <div item-start class="item-segment1" >
              <h2 style='text-transform:capitalize;'>{{visitor.fName}} {{visitor.lName}}</h2>
              <h3 style='text-transform:capitalize;'>{{visitor.viewCat}}</h3>
            </div>
            <div class="item-segment2" >
              <h3>Code:<span style="color:red">{{visitor.code}}</span></h3>
              <h3 (click)='call(visitor.number)'><img src="assets/imgs/phone.png"/>{{visitor.number}}</h3>
            </div>
          </ion-item>
          <!-- <ion-item-options side="right">
            <button ion-button >
                <img src="assets/imgs/create.png"/>
            </button>
            <button ion-button >
                <img src="assets/imgs/delete.png"/>
            
            </button>
          </ion-item-options> -->
        </ion-item-sliding>
       
      </ion-list>
  </div>
</ion-content>
<ion-footer class="footer" no-border>
  <button ion-button full class="submit-button" color="secondary" (click)="addVisitor()">ADD NEW VISITOR</button>
</ion-footer>