page-add-new-visitor {
    ion-header{
        background: color($colors, pureWhite) !important;
    }
    ion-content{
        background:color($colors, contentbg) !important;
         .input-item{
            background:color($colors, contentbg) !important; 
            
         }
         .input-toggle{
            background:color($colors, contentbg) !important;  
            margin-top: 10px;
         }
          .input-form{
              max-width: 450px;
              margin: 0 auto;
              width: 100%;
              padding: 0 16px;
              
              .form-list{
                  margin: 4% 0 15%;
              }
              .form-select-list{
                  margin: 2% 0 15%;
              }
              h3{
                  color: color($colors, primary);
                  letter-spacing: 1px;
              }
              .SubHeading{ 
                  color: color($colors, primary);
                  font-size: 12px;
                  letter-spacing: 0.3px;
                  margin-top: 0px;
                  
              }
          }
          .form-list.select-option{
              margin: 0;
              border-bottom: 1.5px solid color($colors, primary);
              color: color($colors, primary);
              letter-spacing: 1px;
              font-weight: 500;
          }
        } 
        .time{
            margin-left:47px
        }
        .dateTimeLebel{margin-top:28px}
        .dateTimeContainer{
            display:flex !important;
            flex-direction:row !important;
            justify-content:space-between !important;;
        }

        .input-item .text-input{
            text-transform: uppercase;
            padding-left:0px; 
        }
}
