
<ion-header no-border>
    <ion-navbar >
      <ion-title>Add New Visitor</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="content-background">
    <div class=input-form>
        <ion-list no-lines no-padding no-margins class="form-list">
          <ion-item no-lines no-padding no-margins class="input-item">
            <ion-label color="primary" stacked>First Name</ion-label>
            <ion-input  type="text" [(ngModel)]="addVisitorParams.fName"></ion-input>
          </ion-item>
          <ion-item no-lines no-padding no-margins class="input-item">
            <ion-label color="primary" stacked>Last Name</ion-label>
            <ion-input  type="text" [(ngModel)]="addVisitorParams.lName"></ion-input>
          </ion-item>

          <ion-item no-lines no-padding no-margins class="input-item">
            <ion-label color="primary" stacked>Contact Number</ion-label>
            <ion-input  type="tel" [(ngModel)]="addVisitorParams.number" maxlength='10'></ion-input>
          </ion-item>

          <ion-item no-lines no-padding no-margins class="input-item select-option">
              <ion-label color="primary" stacked>Category of Visitor</ion-label>
              <ion-select  [(ngModel)]="addVisitorParams.category" (ionChange)="selectValChange()">
                <ion-option value="0">Select</ion-option>
                <ion-option value={{category.value}} *ngFor="let category of categoryList">{{category.label}}</ion-option>
              </ion-select>
            </ion-item>
           
            <ion-item no-lines no-padding no-margins class="input-item">
              <ion-label color="primary" stacked>Code</ion-label>
              <ion-input  type="tel" [(ngModel)]="addVisitorParams.code" maxlength='4'></ion-input>
            </ion-item>

            <ion-item  no-lines class="input-toggle">
              <ion-label>Status</ion-label>
              <ion-toggle color="secondary" checked="false" [(ngModel)]="addVisitorParams.status"></ion-toggle>
            </ion-item>
            <!-- <div>
                <ion-label color="primary" stacked class="dateTimeLebel">Schedule</ion-label>
                <div class="dateTimeContainer">
                    <ion-item no-lines no-padding no-margins class="input-item">
                        <ion-datetime displayFormat="MM-DD-YYYY" min="2020" max="2030" placeholder="D/M/Y"></ion-datetime>
                    </ion-item>
                    <ion-item no-lines no-padding no-margins class="input-item" style="margin-left:44px">
                        <ion-datetime displayFormat="hh:mm A" placeholder="Time"></ion-datetime>
                    </ion-item>
                </div>
            </div> -->
            
            <!-- <ion-item no-lines no-padding no-margins class="input-item">
                <ion-label color="primary" stacked>Schedule</ion-label>
                <ion-datetime displayFormat="MM-DD-YYYY" min="2020" max="2030"    placeholder="d/m/y"></ion-datetime>
            </ion-item>
            <ion-item no-lines no-padding no-margins class="input-item">
                <ion-label color="primary" stacked>Schedule</ion-label>
                <ion-datetime displayFormat="hh:mm A" placeholder="hh:mm A"></ion-datetime>
            </ion-item> -->
        </ion-list>
      <button ion-button full  class="submit-button" color="secondary" (click)="update()">UPDATE</button>
    </div>
  </ion-content>
  