
$font-path: "../assets/fonts";
@import "ionic.globals";
@font-face {
font-family: "Poppins-Regular";
  src: url($font-path+'/Poppins-Regular.ttf');
  // src: url($font-path+'/Poppins-SemiBold.ttf');
}

$font-family-base: "Poppins-Regular";

$colors: (
  primary:    #71737D,
  secondary:  #00CD87,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #3B3B3B,
  light-grey:#9FA0A7,
  greenLight:  #39B54A,
  darkGreen:#15B981,
  colorBackground:#F9F9F9,
  greenExtraLight:#95E58C,
  pureWhite:#FFFFFF,
  redLight:#F27412,
  lightDark:#5B7C5E,
  terminateColor:#ffb380,
  contentbg:#f4f5f5,
);
$text-input-md-highlight-color-invalid: transparent;
$text-input-md-highlight-color-valid: transparent;
$text-input-md-show-invalid-highlight: transparent;
$text-input-md-highlight-color: transparent;
$text-input-md-show-valid-highlight: transparent;
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
