* {
    font-family: $font-family-base;
    
}

#map_canvas{
    height: 100%;
    width: 100%;
    .markerimg{ 
        height: 40px; transform:translate(-50%, -50%); 
        position: absolute; 
        left: 50%; 
        top: 46.5%;
    }
}


h3,h1,h2,h4,h5,p{
    color:color($colors, primary);
    letter-spacing: 0.5px;
}
.content-background{
    margin: 0 auto;
    position: relative;
    width: 100%;

    &.addbackground{
        background: #F1F1F1;
    }
}

.custom-btn{
    height: 45px;
    border-radius: 6px;
    // text-transform: none !important;
    letter-spacing: 1px;
    background: #04A46D ;
    box-shadow: none;
    
}

.scroll-content{
    margin: 0 auto;
    padding-bottom: 0 !important;
    overflow-y:auto;
}

.picker-wrapper {
    .picker-columns {
      .picker-col {
        .picker-opts {
          .picker-opt {
            width: 93%;
            font-size: 18px;
          }
        }
      }
    }
  } 


.input-item{
    border-bottom: 1.5px solid color($colors, primary) !important;
    box-shadow: inherit !important;
    margin: 5% 0 0;
    .item-inner {
        border: 0 !important;
        box-shadow: inherit !important;
        &:last-child{
            border: 0 !important;
            box-shadow: inherit !important;
        }
    }
    ion-label{
        font-size: 12px !important;
        letter-spacing: 1px;
        font-weight: 500;
    }
    .text-input{
        color:color($colors, primary);
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 15px !important;
    }
    .eye_icon{
        margin-top:10% !important;
        margin-bottom: 0 !important;
    }
}
.round-input-item{
    border-bottom: 0 solid color($colors, primary) !important;
    box-shadow: inherit !important;
    margin: 2% 0 0;
    .custom-lebel{
        font-weight: bold;
    }
    &.hideBackground{
        background: transparent;
        &.padding{
            padding-left: 9px;
            margin-top: 0;
        }
        .text-input{
            color:color($colors, primary);
            font-weight: 500;
            letter-spacing: 1px;
            font-size: 15px !important;
            background: white !important
        }
        // ion-input,ion-textarea,ion-select,ion-datetime{
        ion-input,ion-textarea,ion-select{
            position: static;
            border: 1.2px solid color($colors, primary) !important;
            border-radius: 4px;
            padding: 5px;
            padding-top:1px;
            height: 51px;
            background: white !important;
        }
        ion-datetime{
            border: 1.2px solid color($colors, primary) !important;
            border-radius: 4px;
            // height: 51px;
            background: white !important;
            padding-left: 5px;
            // padding: 13px 5px 11px 16px !important;
            // padding: 5px 5px 11px 16px !important;
            //padding: 14px 5px 11px 16px !important;
        }
    }
    .item-inner {
        border: 0 !important;
        box-shadow: inherit !important;
        &:last-child{
            border: 0 !important;
            box-shadow: inherit !important;
        }
    }
    ion-label{
        font-size: 12px !important;
        letter-spacing: 1px;
        font-weight: 500;
        padding-bottom: 5px;
    }
    .text-input{
        color:color($colors, primary);
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 15px !important;
    }
    // ion-input,ion-textarea,ion-select,ion-datetime{
    ion-input,ion-textarea,ion-select{
        position: static;
        border: 1.2px solid color($colors, primary) !important;
        border-radius: 4px;
        padding: 5px;
        padding-top:1px;
        height: 51px;
        .select-icon {
            width: 26px;
            height: 38px;
        }
        // height: 100% !important;
    }
    ion-datetime{
        border: 1.2px solid color($colors, primary) !important;
        border-radius: 4px;
        // height: 51px;
        background: white !important;
        padding-left: 5px;
        // padding: 13px 5px 11px 16px !important;
        // padding: 5px 5px 11px 16px !important;
        //padding: 14px 5px 11px 16px !important;
    }
    //for date
    .custom-date{
        background: white;
        border: 1.2px solid color($colors, primary) !important;
        border-radius: 4px;
        color: black !important;
        .datetime-text{
            padding-left: 2vw !important;
        }
    }
}



.submit-button{
    margin: 5% 0;
    height: 48px;
    border-radius: 4px;
   // box-shadow: 1px 1px 10px rgba(45,73,45, 0.8);
    letter-spacing: 1px;
    &.light{
        // box-shadow: 1px 1px 10px #5B7C5F;
        background: color($colors, secondary) ;
        height: 60px;
    }
}
.right-submit-button{
    margin: 5% 0 5% auto;
    height: 48px;
    box-shadow: 1px 1px 10px rgba(45,73,45, 0.8);
    letter-spacing: 1.5px;
}

.link-text{
    text-align: center;
    color: color($colors, primary);
    margin: 5% 0;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.inner-label{
    color: rgba(45,73,45, 0.7);
}

//////////////////////////////////////////////////////////////////////////////
//================= Set Text Placeholder Color ===============================
.text-input::-moz-placeholder{
    color: rgba(45,73,45, 0.6);
}
.text-input:-ms-input-placeholder{
    color: rgba(45,73,45, 0.6);
}
.text-input::-webkit-input-placeholder {
    color: rgba(45,73,45, 0.6);
}   

//////////////////////////////////////////////////////////////////////////////
//============ Set Page Header Design Properties =============================
.platform-android{
    .toolbar-background {
        border-color: rgba(240, 248, 255, 0);
        background: rgba(240, 248, 255, 0);
        height: 50px;
    }
    .header{
        min-height: 50px;
        .toolbar{
            min-height: 50px;
            padding: 0;
        }
    }
    .toolbar-title{
        color: color($colors, primary);
        font-size: 16px;
        letter-spacing: 1px;
        // text-align: center;
    }
    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button,
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button{
        color: color($colors, primary);
    }
    .bar-button{
        color: color($colors, primary);
        img{
            width: 18px;
            margin: 0 0;
        }
    }
}

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-edit"] {
      mask-image: url(../assets/icon/edit.svg);
    }
    &[class*="custom-delete"] {
      mask-image: url(../assets/icon/garbage.svg);
    }
    &[class*="custom-check"] {
      mask-image: url(../assets/icon/check.svg);
    }
    &[class*="custom-camera"] {
      mask-image: url(../assets/icon/camera.svg);
    }
    &[class*="custom-plus"] {
      mask-image: url(../assets/icon/plus.svg);
      font-size: 20px !important;
    }
    &[class*="custom-start-up"] {
        mask-image: url(../assets/icon/startup.svg);
        font-size: 18px !important;
    }
    &[class*="custom-map-marker"] {
        mask-image: url(../assets/icon/map-marker.svg);
        font-size: 18px !important;
    }

      
    .custom-footer {
        .submit-button {
            margin-bottom: 0 !important;
            margin: 0 !important;
            margin-top: 0 !important;
            height: 13vw !important;
        }
    }

    .segment-activated{
        border-color: #00982d !important;
    }
    
  }