<!--
  Generated template for the UserUpdateProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-title>Update your profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content-background">
  <div class=input-form>
    <ion-list no-lines no-padding no-margins class="form-list">
      <ion-item no-lines no-padding no-margins class="input-item">
        <ion-label color="primary" stacked>First Name</ion-label>
        <ion-input type="text" placeholder="Enter first name" readonly [(ngModel)]="userData.fName"></ion-input>
      </ion-item>
      <ion-item no-lines no-padding no-margins class="input-item">
        <ion-label color="primary" stacked>Last Name</ion-label>
        <ion-input type="text" placeholder="Enter last name" readonly [(ngModel)]="userData.lName"></ion-input>
      </ion-item>
      <ion-item no-lines no-padding no-margins class="input-item">
        <ion-label color="primary" stacked>Email</ion-label>
        <ion-input type="email" placeholder="Enter email id" [(ngModel)]="userData.email" readonly></ion-input>
        <ion-icon class="eye_icon lockIcon" color="secondary" name="md-lock" item-right></ion-icon>
      </ion-item>
      <ion-item no-lines no-padding no-margins class="input-item">
        <ion-label color="primary" stacked>Contact number</ion-label>
        <ion-input type="tel" [(ngModel)]="userData.number" placeholder="Enter contact number" readonly></ion-input>
        <ion-icon class="eye_icon lockIcon" color="secondary" name="md-lock" item-right></ion-icon>
      </ion-item>
      <!-- <ion-item no-lines no-padding no-margins class="input-item select-option">
            <ion-label color="primary" stacked>Gender</ion-label>
            <ion-select >
              <ion-option value="0">Select</ion-option>
              <ion-option value="contructor">Male</ion-option>
              <ion-option value="driver">Female</ion-option>
            </ion-select>
          </ion-item> -->
      <!-- <ion-item no-lines no-padding no-margins class="input-item select-option">
            <ion-label color="primary" stacked>User Type</ion-label>
            <ion-select >
              <ion-option value="0">Select</ion-option>
              <ion-option value="contructor">Owner</ion-option>
              <ion-option value="driver">Renter</ion-option>
            </ion-select>
          </ion-item> -->
      <!-- <ion-item no-lines no-padding no-margins class="input-item">
              <ion-label color="primary" stacked>Apartment details</ion-label>
              <ion-input  type="text"  placeholder="Enter apartment details"></ion-input>
            </ion-item> -->
      <ion-item no-lines no-padding no-margins class="input-item">
        <ion-label color="primary" stacked>Apartment Address</ion-label>
        <ion-textarea rows="3" [(ngModel)]="userData.apartmentAddress" placeholder="Enter address" class="c-textArea"></ion-textarea>
      </ion-item>
      <ion-item no-lines no-padding no-margins class="input-item">
        <ion-label color="primary" stacked>Apartment Name</ion-label>
        <ion-input type="text" [(ngModel)]="userData.apartmentName" placeholder="Enter building name"></ion-input>
      </ion-item>

      <ion-item no-lines no-padding no-margins class="input-item">
        <ion-label color="primary" stacked>Apartment No</ion-label>
        <ion-input type="text" [(ngModel)]="userData.apartmentNo" placeholder="Enter apartment no"></ion-input>
      </ion-item>

    </ion-list>
    <button ion-button full class="submit-button" color="secondary" (click)="update()">UPDATE</button>
  </div>
</ion-content>