page-manage-preference {
    ion-header{
        background: color($colors, pureWhite) !important;
    }
    ion-content{
        background:color($colors, contentbg) !important;
        .scroll-content{
            padding-left: 0px !important;
            padding-right: 0px !important;
            padding-top: 16px !important;
        }
         .input-item{
            background:color($colors, contentbg) !important; 
         }
         ion-item{
            background:color($colors, contentbg) !important;
             padding-left:0px!important;
             padding-right:0px!important;
             ion-label{
                margin-left:15px !important;
                font-size: 14px;
             }
         }
         .submit-button{
             margin-top:40px;
             height:40px !important;
             border-radius: 4px;
         }
         .btn-container{
             padding:20px;
         }
    }
}
