<ion-header no-border>
  <ion-navbar>
    <ion-title>Manage Preferences</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-toggle color="secondary" checked="false"></ion-toggle>
    </ion-item>
    <ion-item no-lines>
      <ion-label>SMS</ion-label>
      <ion-toggle color="secondary" checked="false"></ion-toggle>
    </ion-item>
 
  <div class="btn-container">
      <button ion-button full class="submit-button" color="secondary" (click)="update()">UPDATE</button>
  </div>
 
</ion-content>